@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --font: 'Kumbh Sans', sans-serif;
  --f-size: 12px;
  --primary: hsl(238, 29%, 16%);
  --secondary: hsl(14, 88%, 65%);
  --white: hsl(0, 0%, 100%);
  --light: hsl(240, 5%, 91%);
  --medium: hsl(240, 6%, 50%);
  --dark:  hsl(237, 12%, 33%);
  --black: hsl(0, 0%, 8%);
  font-size: var(--f-size);
}
* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 150px 20px 0px 20px;
  overflow-y: scroll;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}
h1, h2, p {
  font-family: var(--font);
  margin: 0;
}
h1 {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  color: var(--medium);
  font-weight: 700;
}
p {
  font-size: 1rem;
  color: var(--medium);
  font-weight: 400;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
li {
  text-decoration: none;
  list-style-type: none;
}
.attribution {
  bottom: 10px;
  width: 100%;
  font-family: var(--font);
  color: var(--primary);
  text-align: center;
  font-size: 1rem;
  margin: 10px 0;
  z-index: 1;
}
.attribution a {
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 525px;
  height: 575px;
  min-height: 575px;
  background: var(--white);
  border-radius: 15px;
  padding: 140px 20px 40px 20px;
  box-shadow: 0 10px 50px -10px var(--primary);
}

.desktop-img, .desktop-shadow-img, .desktop-box-img {
  display: none;
}
.mobile-img, .mobile-shadow-img {
  position: absolute;
  width: 270px;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-shadow-img {
  top: 60px;
}

li {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid var(--light);
  max-height: 52px;
  padding: 16px 20px 20px 0;
  transition: all 0.3s ease-in-out;
}
li:hover h2 {
  color: var(--secondary);
}
li h2 {
  margin-bottom: 15px;
}
li .arrow-icon {
  position: absolute;
  top: 21px;
  right: 0;
}
li.open {
  cursor: initial;
  max-height: 300px;
}
li.open h2 {
  color: var(--primary);
}
li.open .arrow-icon {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  body {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 900px;
    max-width: 900px;
    height: 500px;
    min-height: 500px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    padding: 60px 80px 40px;
  }
  .mobile-img,
  .mobile-shadow-img {
    display: none;
  }
  .desktop-img,
  .desktop-shadow-img,
  .desktop-box-img {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-76px, -50%);
  }
  .desktop-box-img {
    transform: translate(-95px, -20%);
  }
  .desktop-shadow-img {
    width: 472px;
  }
  .container {
    width: 50%;
  }
  .container h1 {
    text-align: left;
  }
  li {
    transition: none;
  }
  li.open {
    transition: all 0.3s ease-in-out;
  }
  .attribution {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 1.5rem;
  }
}